body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
}
.page-item.active .page-link{
    background-color: #92238f !important;
    border-color: #92238f !important;
}
.button_a a:hover {
    background: #0656cd;
    color: #fff;
    border: solid 2px #0656cd;
}
.button_a {
    background: #ecedee;
    color: #fd556d;
    border-radius: 20px;
    margin-top: 10px;
}
.button_a a {
    color: #0656cd;
    border: solid 2px #0656cd;
    border-radius: 20px; 
}

.container.gallery-container {
    color: #35373a;
    min-height: 100vh;
    max-width: 1600px;
    border-radius: 20px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 170px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.my-lightbox {
        width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
        .home_title {
    max-width: 71% ;
}
.cta_button {
    width: 33%;
}
.why_image {
    right: 10px;
}
.intro_image img {
    width: 100%;
}
.cta-image img {
    max-width: 80%;
}

}

@media(max-width: 450px) {
    .tz-gallery {
     padding: 0; 
}
}