\@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. Testimonials
8. CTA
9. Team
11. Newsletter
12. Footer


******************************/

/***********
1. Fonts
***********/
.apple {
    margin: 0 auto;
}
div#navbarNavAltMarkup a {
    background: #0052cc !important;
    color: white !important;
    font-weight: 600 !important;
    padding: 10px 20px;
}
.component-right .fa {
    color: #0052CC;
    font-size: xx-large;
}
.appointment_color {
    background: #2d88fe !important;
}
.button.button_1.contact_button.trans_200 {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #0052cc;
    text-transform: uppercase;
}
.button.button_1.contact_button.trans_200:hover {
    color: #fff;
}
.blog_home {
    margin-top: 20px;
    color: #fff;
}
.carrier_container {
    background: #F4F5F7;
    padding: 0 0 20px 0;
}
.cta_button_carrier {
    width: 12%;
}
.intro_carrier {
    background: #FFFFFF;
    padding-top: 67px;
}
.make-center {
    text-align: center;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light1.make-menu {
    background: #0052cc !important;
    padding: unset !important;
}	
.carrier_images {
    text-align: center;
}
.carrier_images img {
	margin: 30px 0px;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.container.all_country-width {
    max-width: 632px;
}
.homepage_blog {
    padding: 20px 15px;
}
.blog_post_homepage {
    padding: 20px 20px 50px; 
}
.component-text {
    padding: 50px 0px;
}
.component-text .cta_text {
    width: 57%;
    margin: 0 auto;
}
.carrier_edit{
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    padding: 20px 10px;
    border: 1px solid !important;
}
.homepage_border{
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border: 1px solid transparent;
}

.blog_post_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    line-height: 16px;
    max-height: 80px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.row.my-partners {
    margin: 50px 0px;
}
.logo img {
    max-width: 50%;
}
.logo {
    width: 15%;
}
.col-md-8.col-lg-6.col-md-offset-4.vertical-middle {
    top: 85px;
    bottom: 85px;
}
.component.component--link-button {
    top: 10px;
}
.component__link.button.button--one.button--small.button--secondary {
    border: 1px solid;
    border-radius: 4px;
    padding: 8px;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
ul.contact_list a {
    color: #57ccc3;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 500;
	color: #828282;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
::selection
{
	background: rgba(87,204,195,0.75);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 60px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #404040;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.component-right a:hover {
    color: #0065FF;
    text-decoration: underline;
}
.component-right a {
    color: #0052CC;
    font-size: 15px;
     font-weight: 500;
}
.form-control
{
	color: #db5246;
}
.row.reduced-row {
    padding: 0px 0px 50px 0px;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background {
    position: absolute;
    background: url(/images/background-image-new.jpg);
    top: 0;
    background-size: cover;
    left: 0;
    width: 100%;
    height: 100%;
}
.parallax_background_blog {
    position: absolute;
    background: url(/images/blog-banner.jpg);
    top: 0;
    background-size: contain;
    left: 0;
    width: 100%;
    height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	height: 46px;
	border-radius: 20px;
}
.button a
{
	display: block;
	padding-left: 18px;
	padding-right: 18px;
	line-height: 42px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}
.button_1
{
	background: #ffff;
	border: solid 2px #0052cc;
}
.button_1 a
{
	color: #0052cc;
}
.button_1:hover
{
	background: transparent;
	border: solid 2px #0052cc;
}
.button_1:hover a
{
	color: #fff;
}
.button_2
{
	background: transparent;
	border: solid 2px #57ccc3;
}
.button_2 a
{
	color: #57ccc3;
}
.button_2:hover
{
	background: #57ccc3;
}
.button_2:hover a
{
	color: #FFFFFF;
}
.section_subtitle
{
	font-size: 18px;
	font-weight: 500;
	color: #a6abb2;
	line-height: 0.75;
}
.section_title
{
	margin-top: 9px;
}
.section_title h4 {
    font-weight: 600;
}
.intro_text
{
	margin-top: 32px;
}

/*********************************
3. Header
*********************************/

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    background: #fff;
}
.header_content
{
	width: 100%;
	height: 117px;
	padding-left: 100px;
	padding-right: 102px;
}
.header.scrolled .header_content
{
	height: 75px;
	box-shadow: 0px 5px 15px rgba(87,204,195,0.15);
}
.logo a > div:first-child
{
	font-size: 30px;
	font-weight: 700;
	line-height: 0.75;
	color: #353535;
}
.logo a > div:first-child span
{
	color: #57ccc3;
	margin-left: 7px;
}
.logo a > div:last-child
{
	font-size: 12px;
	color: #969696;
	font-weight: 500;
	line-height: 0.75;
	margin-top: 6px;
}
.main_nav
{
	margin-left: 380px;
}
.main_nav ul li a
{
	font-size: 15px;
	font-weight: 600;
	color: #ffff;
	white-space: nowrap;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
    color: #2a86fe !important;
    padding: 5px 0px;
    border-bottom: 1px solid #0052cc;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 28px;
}
.work_hours
{
	font-size: 15px;
	font-weight: 600;
	color: #ffff;
	margin-right: 26px;
	white-space: nowrap;
}
.header_phone
{
	height: 46px;
	border-radius: 20px;
	background: #ffff;
	padding-left: 40px;
	padding-right: 36px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
	margin-right: 12px;
}
.header_phone::selection
{
	background: rgba(64,64,64,0.75);
}
.header_button
{
	margin-right: 16px;
}
.social ul li
{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #e6ebf1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:hover
{
	background: #57ccc3;
}
.social ul li:hover a i
{
	color: #FFFFFF;
}
.social ul li:not(:last-of-type)
{
	margin-right: 15px;
}
.social ul li a
{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 34px;
	text-align: center;
}
.social ul li a i
{
	font-size: 16px;
	color: #404040;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger
{
	display: none;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	border: solid 1px rgba(0,0,0,0.05);
}
.hamburger i
{
	font-size: 20px;
	color: #80338a;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -350px;
	width: 350px;
	height: 100vh;
	background: #57ccc3;
	z-index: 102;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
}
.menu.active
{
	right: 0;
}
.menu_overlay
{
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.75);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
}
.menu_overlay.active
{
	visibility: visible;
	opacity: 1;
}
.menu_close_container
{
	position: absolute;
    top: 41px;
    left: 28px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1;
}
.menu_close
{
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}
.menu_close div
{
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    top: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.menu_close div:last-of-type
{
    -webkit-transform: rotate(90deg) translateX(-2px);
    -moz-transform: rotate(90deg) translateX(-2px);
    -ms-transform: rotate(90deg) translateX(-2px);
    -o-transform: rotate(90deg) translateX(-2px);
    transform: rotate(90deg) translateX(-2px);
    transform-origin: center;
}
.menu_close:hover div
{
    background: #1befc5;
}
.menu_nav
{
	margin-top: 75px;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 1px;
}
.menu_nav ul li a
{
	font-size: 24px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_nav ul li a:hover
{
	color: #1befc5;
}
.menu_social
{
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.menu_social ul li:hover
{
	background: #404040;
}
.menu_social ul li:hover a i
{
	color: #FFFFFF;
}
.menu_extra
{
	margin-top: 50px;
}
.menu_extra > div:not(:last-child)
{
	margin-bottom: 5px;
}
.menu_link,
.menu_link a
{
	font-size: 13px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_link a:hover
{
	color: #FFFFFF;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 500px;
}
.home_blog_detail
{
	height: 400px;
}
.home_overlay
{
	z-index: 1;
}
.home_overlay img
{
	max-width: 100%;
}
.home_container
{
	position: absolute;
	top: 218px;
	left: 0;
	width: 100%;
}
.home_content
{
	text-align: left;
}
.home_title
{
	font-size: 40px;
    line-height: 1.2;
    max-width: 42%;
    font-weight: 500;
    color: #000000;
}
.home_title.banner
{
	font-size: 70px;
	color: #fff;
}
.border_bottom h5 {
    border-bottom: 2px solid #dee2e6;
    width: 74%;
    margin: 0 auto;
}
.home_text
{
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	max-width: 70%;
	margin-top: 1px;
}

/*********************************
6. Intro
*********************************/

.intro
{
	background: #FFFFFF;
	padding-top: 67px;
}
.intro_image
{
	width: 100%;
}
.intro_image img
{
	width: 150%;
    height: 500px;
}
.intro_content
{
	padding-top: 24px;
}
.intro_text
{
	margin-top: 33px;
}
.intro_text p
{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	-ms-column-gap: 30px;
	-o-column-gap: 30px;
	column-gap: 30px;
}
.milestones
{
	margin-top: 56px;
}
.milestone_counter
{
	font-size: 36px;
	font-weight: 700;
	color: #57ccc3;
	line-height: 0.75;
}
.milestone_text
{
	font-size: 18px;
	font-weight: 600;
	color: #404040;
	line-height: 1.5;
	margin-top: 5px;
}

/*********************************
7. Testimonials
*********************************/

.testimonials
{
	padding-top: 102px;
	background: #eff3f7;
}
.testimonials_row
{
	margin-top: 34px;
}
.quote
{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #57ccc3;
}
.test_slider_container
{
	margin-top: 43px;
	padding-left: 70px;
	padding-right: 70px;
}
.test_text p
{
	font-size: 16px;
	line-height: 1.875;
	color: #868686;
}
.test_info
{
	margin-top: 52px;
}
.test_image
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
.test_image img
{
	max-width: 100%;
}
.test_text
{
	padding-left: 16px;
	font-size: 16px;
	font-weight: 600;
	color: #404040;
}
.test_text span
{
	color: #57ccc3;
}
.test_slider.owl-theme .owl-nav.disabled + .owl-dots
{
	margin-top: 44px;
}
.test_slider.owl-theme .owl-dots .owl-dot span
{
	width: 8px;
	height: 8px;
	margin: 4px;
}

/*********************************
8. CTA
*********************************/
.cta-1 {
    width: 100%;
    background: #fff;
    padding-top: 49px;
    padding-bottom: 46px;
}
.cta-1.why_us {
    padding-top: 0px;
}
.cta-1 h2{
    border-bottom: 1px solid #0761e4;
    width: 70%;
    margin: 0 auto;
}
.cta-image img{
	max-width: 55%;
}
.cta_section.button.button_a {
    width: 20%;
}
.carrier_setting {
	margin: 25px 0 !important;
    background: transparent !important;
}
.button_a.carrier_setting a {
    padding: 8px 15px;
}
.carrierPost_image img {
    max-width: 50%;
}
.carrierPost_image {
    padding: 20px 40px;
}
.cta
{
	width: 100%;
	background: #F4F5F7;
	padding-top: 49px;
	padding-bottom: 46px;
}
.cta_title
{
	font-size: 36px;
	font-weight: 600;
	color: #000000;
	line-height: 1.2;
}
.cta_text
{
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	line-height: 2;
	margin-top: -1px;
}
.white_color{
	color: #fff !important;
}
.cta_phone
{
	height: 59px;
	padding-left: 24px;
	padding-right: 25px;
	line-height: 59px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	background: #0052cc;
	border-radius: 19px;
	white-space: nowrap;
}

/*********************************
9. Team
*********************************/

.team
{
	background: #FFFFFF;
	padding-top: 91px;
	padding-bottom: 81px;
}
.team_row
{
	margin-top: 79px;
}
.team_item
{
	width: 100%;
	height: 100%;
}
.team_image
{
	width: 100%;
}
.team_image img
{
	max-width: 100%;
}
.team_content
{
	padding-top: 37px;
}
.team_name a
{
	font-size: 24px;
	font-weight: 600;
	color: #404040;
}
.team_title
{
	font-size: 14px;
	font-weight: 600;
	color: #57ccc3;
	margin-top: 3px;
	text-transform: capitalize;
}
.team_text
{
	margin-top: 22px;
}

/*********************************
11. Newsletter
*********************************/

.newsletter
{
	padding-top: 56px;
	padding-bottom: 82px;
}
.newsletter_title
{
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	line-height: 1.2;
}
.newsletter_row
{
	margin-top: 54px;
}
.newsletter_input
{
	width: calc(100% - 150px);
	height: 46px;
	background: transparent;
	border: solid 2px #e6ebf1;
	color: #FFFFFF;
	padding-left: 34px;
	outline: none;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 145px;
	height: 46px;
	background: #8f2a94;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

/*********************************
12. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	background: #F4F5F7;
}
.footer_content
{
	padding-top: 50px;
	padding-bottom: 51px;
}
.footer_about
{
	padding-top: 40px;
}
.footer_logo a > div:first-child
{
	font-size: 24px;
	font-weight: 700;
	line-height: 0.75;
	color: #FFFFFF;
}
.footer_logo a > div:first-child span
{
	color: #57ccc3;
	margin-left: 7px;
}
.footer_logo a > div:last-child
{
	font-size: 12px;
	color: #969696;
	font-weight: 500;
	line-height: 0.75;
	margin-top: 6px;
}
.footer_about_text
{
	margin-top: 42px;
}
.footer_about_text p
{
	color: #868686;
}
.footer_title
{
	font-size: 16px;
	font-weight: 500;
	color: #42526E;
	line-height: 1.2;
}

.contact_list
{
	margin-top: 44px;
}
.contact_list li
{
	font-size: 15px;
	font-weight: 500;
	color: #878787;
}
.contact_list li:not(:last-child)
{
	margin-bottom: 12px;
}
.footer_location
{
	padding-top: 40px;
}
.locations_list
{
	max-width: 180px;
	margin-top: 42px;
}
.locations_list li
{
	line-height: 1.6;
}
.locations_list li:not(:last-child)
{
	margin-bottom: 19px;
}
.location_title
{
	font-size: 15px;
	font-weight: 500;
	color: #57ccc3;
}
.location_text
{
	margin-top: 13px;
}
.opening_hours
{
	left: -32px;
	width: calc(100% + 67px);
	padding-left: 32px;
	padding-right: 35px;
	padding-top: 38px;
	padding-bottom: 40px;
	border: solid 2px #4d5157;
}
.opening_hours_list
{
	margin-top: 44px;
}
.opening_hours_list li
{
	white-space: nowrap;
}
.opening_hours_list li:not(:last-child)
{
	margin-bottom: 9px;
}
.footer_bar
{
	border-top: 1px solid #DFE1E5;
	width: 100%;
	background: #F4F5F7;
}
.footer_bar_content
{
	height: 49px;
}
.copyright
{
	font-size: 12px;
	font-weight: 500;
	color: #646464;
}
.footer_nav ul li:not(:last-child)
{
	margin-right: 29px;
}
.footer_nav ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #818181;
}
.footer_nav ul li a:hover
{
	color: #57ccc3;
}
.dropdown-menu.show a.dropdown-item {
    color: #0052cc !important;
    text-transform: uppercase;
}
.dropdown-menu.show a.dropdown-item:hover {
    background: #0052cc !important;
    color: white !important;
}
.service.text-center.my-style{
	box-shadow: 0 8px 15px rgb(245, 236, 236);
    padding: 20px;
}
.service.text-center.my-style:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.my-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 70px;
    line-height: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.portfolio-head img {
    max-width: 100%;
    height: auto;
}
ul.portfolio-social {
    text-align: center;
    padding: 16px;
    margin-top: 10px;
    border: 2px solid #e0e2ec;
}
ul.portfolio-social:hover {
    border-color: #fff;
    background: #fff;
    transform: scale(1.03);
    box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.14);
    transition: all .3s ease;
}
ul.portfolio-social li {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #e0e2ec;
    text-align: center;
    line-height: 30px;
    margin: 5px;
}
ul.portfolio-social li:hover {
    background: -webkit-linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
    background: -moz-linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
    background: -o-linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
    background: -ms-linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
    background: linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
.portfolio-social a i.fa {
    color: #fff;
}
.text {
    padding: 0px 10px;
}
.text h4 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}
.text h2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.625em;
    position: relative;
}
.text p {
	color: #777;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.625em;
}


.testimonials h2 {
	margin: 25px 0 50px;
}
.testimonials h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #ffdc12;
	left: 0;
	right: 0;
	bottom: -10px;
}
.carousel {
	width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.carousel .item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #888;		
}