@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/
@media only screen and (min-width: 2000px)
{
	.logo {
    width: 10% !important;
    left: 500px !important;
}
	.main_nav {
    margin-left: 900px !important;
}
	.sub_category {
    width: 1920px !important;
}
button#right {
    left: 2280px;
    }
button#left{
	left: 290px;
}
}
/************
1. 1840px
************/

@media only screen and (max-width: 1840px)
{
	.main_nav
	{
	    margin-left: 143px;
	}
}
@media only screen and (min-width: 1800px)
{
	.logo {
    width: 10% !important;
    left: 300px !important;
}
	.main_nav {
    margin-left: 600px !important;
}
button#right {
    left: 1565px;
	top: 16px;
    }
button#left{
	left: 360px;
    top: 16px;
}
}
/************
1. 1760px
************/

@media only screen and (max-width: 1760px)
{
	.work_hours
	{
	    display: none;
	}
}

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	.main_nav
	{
		margin-left: 54px;
	}
}
@media only screen and (min-width: 1600px)
{
	.logo {
    width: 10% !important;
    left: 200px;
}
	.main_nav {
    margin-left: 500px ;
}
	
}
/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	.header_phone
	{
		display: none;
	}
	button#right {
    left: 1290px;
}
button#left {
    left: 145px;
    }
.sub_category {
    width: 1090px !important;
    }
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.main_nav ul li:not(:last-child)
	{
		margin-right: 29px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.header_button
	{
		display: none;
	}
	.home
	{
		height: 525px;
	}
	.cd-resize-img
	{
		right: 0px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	.sub_category {
    width: 741px !important;
}
button#right {
    left: 910px;
}
button#left {
    left: 110px;
}
li.blog-item {
    padding: 15px 20px;
}
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.header_social
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 80px;
	}
	.footer_location,
	.footer_contact
	{
		padding-top: 0;
	}
}
@media (min-width: 991px) and (max-width: 1250px){
.logo img {
    max-width: 100px !important;
}

}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	.sub_category {
    width: 560px !important;
}
button#right {
    left: 690px;
    top: 10px;
}
button#left {
    left: 75px;
    top: 10px;
}
li.blog-item {
    padding: 12px 10px;
}
li.blog-item{
	font-size: 9px;
}
.button.button_a.ml-auto.mr-auto.make-center {
    width: 28% !important;
}
.button_a.carrier_setting {
    width: 100% !important;
}
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home
	{
		height: 444px;
	}
	.home_container
	{
		top: 200px;
	}
	.home_content
	{
		max-width: 100%;
	}
	.home_title
	{
		font-size: 48px;
	}
	.footer_bar_content
	{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer_nav
	{
		margin-top: 15px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	h2
	{
		font-size: 36px;
	}
	.header.scrolled .header_content,
	.header_content
	{
		height: 60px;
	}
	.home
	{
		height: 365px;
	}
	.home_container
	{
		top: 154px;
	}
	.home_text
	{
		font-size: 13px;
	}
	.logo a > div:first-child
	{
		font-size: 24px;
	}
	.logo a > div:last-child
	{
		font-size: 10px;
	}
	.section_subtitle
	{
		font-size: 16px;
	}
	.header_content
	{
		padding-left: 15px;
		padding-right: 30px;
	}
	.button
	{
		height: 40px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 36px;
		padding-left: 31px;
		padding-right: 30px;
	}
	.home_title
	{
		font-size: 36px;
	}
	.blog_post_title a
	{
		font-size: 24px;
	}
	.blog_post_info
	{
		margin-top: 15px;
	}
	.blog_post_info ul li, .blog_post_info ul li a
	{
		font-size: 13px;
	}
	.blog_post_text
	{
		margin-top: 26px;
	}
	.blog_post_date
	{
		width: 70px;
		height: 98px;
	}
	.date_day
	{
		font-size: 30px;
	}
	.newsletter
	{
		padding-bottom: 67px;
	}
	.newsletter_row
	{
		margin-top: 39px;
	}
	.newsletter_title
	{
		font-size: 24px;
	}
	.newsletter_input
	{
		width: 100%;
		height: 40px;
	}
	.newsletter_input::-webkit-input-placeholder
	{
		font-size: 13px !important;
	}
	.newsletter_input:-moz-placeholder
	{
		font-size: 13px !important;
	}
	.newsletter_input::-moz-placeholder
	{
		font-size: 13px !important;
	} 
	.newsletter_input:-ms-input-placeholder
	{ 
		font-size: 13px !important;
	}
	.newsletter_input::input-placeholder
	{
		font-size: 13px !important;
	}
	.newsletter_button
	{
		width: 50%;
    top: 50px;
    left: 25%;
    right: 25%;
    height: 40px;
    font-size: 12px;
	}
	.opening_hours
	{
		left: auto;
		width: 100%;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.sub_category {
    width: 100% !important;
}
button#right {
    left: 390px;
}
button#left {
    left: 25px;
    }
    .sub_category {
    width: 70% !important;
}
.home {
    height: 400px !important;
}
.blog-header-blog {
    display: none;
}
.component-text .cta_text {
     width: 100%; 
    }
    .intro_text p{
    	column-count: 1;
    	text-align: justify;
    }
    .blog_post_text {
    max-height: 72px;
}
.button.button_a.ml-auto.mr-auto.make-center {
    width: 48% !important;
}
.button.button_a.ml-auto.mr-auto.cta_button_carrier {
    width: 40%;
}
.contact_input {
    width: 100%;
    }
       .intro_input {
    width: 100%;
}
.col-sm-6.blog_post_image-my {
    margin-bottom: 30px;
}
}

/************
14. 400px
************/


@media only screen and (max-width: 400px)
{
	button#right {
    left: 348px;
}	
}


@media (min-width: 1440px) and (max-width: 1537px){
	a.header_phone {
    display: none;
}
}


@media only screen and (max-width: 325px)
{
	.sub_category {
    width: 67% !important;
}
button#left {
    left: 20px;
}
button#right {
    left: 295px;
}
}